h1 {
  text-align: center;
}

input[type=text],
input[type=password] {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}

body {
  text-align: center;
  background-color:#ffd787;
}

body > div {
  display: inline-block;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border: solid grey 1px;
}

#game-list > li {
  cursor: pointer;
}

.selected {
  background-color: lightblue;
}

#pied {
    position:fixed;
	bottom:5px;left:5px;right:5px;
	border-top :1px solid black;
	padding:20px;
	margin:10px;
    border:none;
}

#divAccueilConnexion {
    position:absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    height:400px;
    background-color:white;
    border-radius: 10px;
    border:none;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

#accueilConnexion {
    position:absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#accueilConnexion > * {
    margin:10px;
}

#accueilConnexion > form > * {
    margin:5px;
}

#div-game-list {
    position:absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width:700px;
    padding:20px;
    background-color:white;
    border-radius: 10px;
    border:none;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

th,td {
    padding:7px;
}

table {
    margin:auto;
    border:1px black solid;
    border-radius: 10px;
}
